<h1> Países </h1>

@foreach(Pais pais in ViewBag.ListaPaises){
    <h1> @pais.Nombre </h1>
    <img src="~/img/@pais.Bandera">
    <button> <a href = "@Url.Action('VerDetallePais', new { ViewBag.idPais = pais.IdPais })"> Ver Más</a> </button>
}